<meta name="description" content="This is an article about Angular Meta service">
<meta name="keywords" content="angular, javascript, typescript, meta, seo">
<main>
    <!-- <section class="banner_wrapper gradient-left gradient-top">
        <div class="container-fluid inner-content">
            <div class="row h-100 align-items-center">
                <div class="col-md-9 col-lg-8">
                    <h1 class="mb-4 mb-md-5"><span>{{aboutData.section1.heading}}</span></h1>
                    <h4>{{aboutData?.section1.content}}</h4>
                </div>
            </div>
        </div>
    </section> -->

    <section class="about-us-section first_section padding-100 ">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-6 col-md-6 align-self-center mb-3">
                    <h2 class="h1 lg-heading color-black position-relative "><span class="heading-bg">{{aboutData?.section2.shadow}}</span>
                        {{aboutData?.section2.heading}}</h2>
                    <p class=" my-4 my-lg-5">{{aboutData?.section2.content}}</p>
                </div>
                <div class="col-lg-5 col-md-6" *ngFor="let card of aboutData?.section2.cards">
                    <div class="about-img position-relative">
                        <img src="{{card.url}}" class="img-fluid" alt="beginning">
                        <div class="about-img-2">
                            <img src="{{card.surl}}" class="img-fluid" alt="start">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="about-us-section padding-100 pb-0">
        <div class="container-fluid">
            <div class="row  justify-content-center">
                <div class="col-md-5 p-3 p-md-4 order-md-first order-last">
                    <div class="about-img position-relative" *ngFor="let card of aboutData?.section3.cards">
                        <img src="{{card.url}}" class="img-fluid" alt="founders">
                    </div>
                </div>
                <div class="col-md-6 col-sm-7 offset-md-1 ps-lg-5 mb-4 align-self-center">
                    <h2 class="h1 lg-heading mb-4">Meet the
                        <span class=" d-md-inline d-lg-block"> Founders</span>
                    </h2>
                    <h3 class="py-md-5">Friends, Brothers, and Partners
                        <span class="color-light-blue font-weight-600 d-block"><strong>Jatin Sehgal</strong> &
                            <span class="color-light-blue font-weight-600">Narendra Sharma. </span>
                        </span>

                    </h3>
                    <p>{{aboutData?.section3.content}}</p>
                </div>  
            </div>

            <div class="row mt-4" *ngFor="let card of aboutData?.section3.cards">
                <div class="col-md-6">
                    <p><strong class="color-black">Narendra,</strong> {{card.narendra}}</p>

                </div>
                <div class="col-md-6">
                    <p><strong class="color-black">Jatin,</strong>{{card.jatin}}</p>
                </div>
            </div>

        </div>
    </section>


    <section class="choose-us-section position-relative padding-100">
        <div class="container-fluid chooseus-bg">
            <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-md-12 mt-4">
                    <h2 class="h2 mb-4">{{aboutData?.section5.heading}}</h2>
                    <p class="mb-5">{{aboutData?.section5.content}}</p>
                </div>
                <div class="col-lg-4 col-md-4" *ngFor="let card of aboutData.section5.cards">
                    <div class="counter-content">
                        <img src="{{card.url}}">
                        <h4 class="text-uppercase font-weight-600 my-3">{{card.market}}</h4>
                        <p>{{card.text}}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt-5" *ngFor="let card of aboutData?.section4.cards">
                        <a href="javascript:void(0);" routerLink="/services" routerLinkActive="active" class="btn btn-main">{{card.link1}}</a>
                        <a href="javascript:void(0);" routerLink = "/solutions" class="btn btn-main btn-main-outline-black mx-3 mx-md-5">{{card.link2}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="cta-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-5">
                        <h2 class="h2">Built on strategy,<span class="d-block"> driven by data.</span>
                        </h2>
                    </div>
                    <div class="mt-5" *ngFor="let card of aboutData?.section4.cards">
                        <a href="javascript:void(0);" routerLink="/services" routerLinkActive="active" class="btn btn-main">{{card.link1}}</a>
                        <a href="javascript:void(0);" routerLink = "/solutions" class="btn btn-main btn-main-outline-black mx-3 mx-md-5">{{card.link2}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <section class="team-section pb-5">
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-md-12 col-lg-9 text-center">
                  <h2 class="h2 mb-4">{{aboutData?.section6.heading}}</h2>
                  <p class="mb-5">{{aboutData?.section6.content}}</p>
              </div>
              <div class="col-md-12 col-lg-12">
                  <div class="grid">
                      <ul id="hexGrid">
                        <li class="hex" *ngFor="let card of aboutData?.section6.cards">
                          <div class="hexIn">
                            <div class="hexLink" href="#">
                              <div class='img' [ngStyle]="{'background-image': 'url(' + card.url + ')'}"></div>
                              <h4 id="demo1">{{card.name}}</h4>
                              <p id="demo2">{{card.text}}</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
              </div>
          </div>
      </div>
  </section> -->
  

    <section class="our-work py-5">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 col-lg-9">
                    <h2 class="h2 mb-4">{{aboutData?.section7.heading}}</h2>
                    <p>{{aboutData?.section7.content}}</p>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div class="gallery-container pt-5" *ngFor="let card of aboutData?.section7.cards">
                <div class="gallery-content">
                    <div class="galley-box">
                        <img src="{{card.url}}" alt="culture">
                    </div>
                </div>
            </div>
          
            </div>
            

    </section>
</main>