<main>
  <section class="banner_wrapper">
  </section>
  <section class="blog-details position-relative padding-100 pb-0">
    <div class="container-fluid">
      <h2 class="h2 font-weight-600">{{blogDetails.section1.heading}}</h2>
      <div class="row my-5">
        <div class="col-lg-6 col-md-6" *ngFor="let card of blogDetails?.section1.cards">
          <div class="row align-items-center">
            <div class="col-md-2">
              <img src="{{card.url}}" alt="member" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-10">
              <div class="blog-content">
                <h6 class="font-weight-600">{{card.name}}</h6>
                <span class="blog-date text-uppercase font-weight-600"> {{card.date}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="social-icons float-md-end">
            <h6 class="font-weight-600 d-inline-block">{{blogDetails?.section1.content}}</h6>
            <span>
              <a *ngFor="let card of blogDetails?.section1.social" href="javacsipt:void(0);"><i [ngClass]='card.icons'></i></a>
            </span>

          </div>
        </div>
      </div>
      <hr class="my-5">

      <div class="row">
        <div class="col-md-8 tags">
          <a *ngFor="let card of blogDetails?.section2.cards" href="javascript:void(0);" class="rounded-pill m-2">{{card.text}}</a>
        </div>

        <div class="col-md-4">
          <div class="float-md-end mt-4 mt-md-0">
            <span class="social-sharing p-4 mx-3">
              <a *ngFor="let card of blogDetails?.section1.social" href="javacsipt:void(0);" class="facebook rounded-circle"><i [ngClass]='card.icons'></i></a>
            </span>
            <a href="javascript:void(0)" class="btn btn-main btn-main-outline-black">Follow Us</a>
          </div>
        </div>
        <hr class="my-5">
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="mb-4" *ngFor="let card of blogDetails?.section3.cards">{{card.content}}</p>

          <p class="mb-5"><strong>{{blogDetails?.section3.heading}}</strong>
          </p>
        </div>

        <div class="col-md-6" *ngFor="let card of blogDetails?.section3.cardimage">
          <img src="{{card.url}}" class="img-fluid rounded">
        </div>
      </div>

      <div class="row mt-5 pt-4">
        <div class="col-md-12" *ngFor="let card of blogDetails?.section4.cards">
          <h4>{{blogDetails?.section4.heading}}</h4>
          <p>{{card.content}}</p>
        </div>
        <div class="col-md-10 mt-5 pt-2">
          <h4 class="position-relative ps-5 highlight-content">{{blogDetails?.section5.content}}</h4>
        </div>
        <div class="col-md-12 text-center my-5" *ngFor="let card of blogDetails?.section5.cards">
          <img src="{{card.url}}" class="img-fluid m-auto ">
        </div>

        <div class="mt-5" *ngFor="let card of blogDetails?.section4.cards">
          <p>{{card.content1}}</p>
        </div>
      </div>
      <hr class="my-5">

      <div class="row my-5">
        <div class="col-6 col-lg-6 col-md-6">
          <div class="row align-items-center">
            <div class="col-md-12">
              <h6 class="font-weight-600"> <i class="fa-solid fa-heart text-danger"></i> 1.3 Likes</h6>
            </div>
          </div>

        </div>
        <div class="col-6 col-lg-6 col-md-6">
          <div class="social-icons float-md-end">
            <h6 class="font-weight-600 d-inline-block">{{blogDetails?.section1.content}}</h6>
            <span>
              <a *ngFor="let card of blogDetails?.section1.social" href="javacsipt:void(0);"><i [ngClass]='card.icons'></i></a>
            </span>

          </div>
        </div>
      </div>
    </div>
    <div class="bg-light mt-5 py-5 p-md-5">
      <div class="container-fluid">
        <div class="row m-auto text-center">
          <div class="col-3 col-md-4 align-self-center">
            <a href="#" class="text-uppercase text-dark font-weight-600 h5"><i
                class="fa-solid fa-arrow-left-long color-light-blue"></i> Previous</a>
          </div>
          <div class="col-6 col-md-4">
            <a class="btn btn-main">View All Blogs</a>
          </div>
          <div class="col-3 col-md-4 align-self-center">
            <a href="#" class="text-uppercase text-dark font-weight-600 h5"> Next <i
                class="fa-solid fa-arrow-right-long  color-light-blue"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>